{% set appFunction = 'menu' %}
{% extends "layout.twig" %}

{% block content %}
<div class="container main-menu-buttons">
    <div class="row">
        <div class="md-col-6">
            <a href="/file-mover"><button class="btn btn-lg btn-block btn-primary">File Mover</button></a>
            <br />
            <a href="/proc-rerun"><button class="btn btn-lg btn-block btn-primary">MySQL Procedure Re-Run</button></a>
            <br />
            <a href="/fb-snapshot"><button class="btn btn-lg btn-block btn-primary">Take a Facebook Snapshot</button></a>
        </div>
    </div>
</div>
{% endblock %}
