[Unit]
Description=Vincodo File Mover
After=network.target
After=systemd-user-sessions.service
After=network-online.target

[Service]
User=vincodo
Type=simple
EnvironmentFile=-/etc/vincodo/daemon_conf/file_mover_env.local
ExecStart=/usr/bin/env php -f ${FILE_MOVER_DAEMON_PATH}/file_mover_daemon.php ${FM_SETTINGS_PATH}
TimeoutSec=30
Restart=always
RestartSec=1
StartLimitInterval=350
StartLimitBurst=10
StandardOutput=file:/var/log/vincodo/file-mover.log
StandardError=inherit

[Install]
WantedBy=multi-user.target